
body {
	background:url(gfx/body-tile.png) top center repeat-y;
	font-family:arial sans-serif;
}

ul {
	padding-left:20px;
}

strong {
	font-weight:bold;
}

#wrapper {
	width:960px;
	margin:0 auto;
	background:url(gfx/content-background.png) #f00;
}

#content nav {
	clear:both;
	padding:20px 0;
}

footer {
	height:100px;
	text-align:center;
	background-color:#eee;
	margin-top:50px;
	clear:both;
}

footer p {
	padding-top:20px;
}

header {
	margin-bottom:20px;
}

h1#header {
	width:960px;
	height:190px;
	padding:0;
	margin:0;
	background:url(gfx/header.jpg);
	text-indent:-100em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	font-size:110%;
	margin-bottom:10px;
	margin-top:40px;
	color:#61116B;
}

b {
	font-weight:bold;
}

#content p {
	line-height:1.6;
	margin-bottom:1.5em;
}

div#up-coming {
	background:#61116b;
	color:#fff;
}

div#up-coming p {
	float:left;
	font-weight:bold;
	line-height:3em;
}
div#up-coming p.meeting { float:left;	padding-left:20px;}
div#up-coming p.event { float:right; padding-right:20px; }

div#up-coming a {
	color:#fff;
}

nav#main {
	margin-top:10px;
}

nav#main ul {
	margin:0 auto;
	text-align:center;
	margin-top:1px;
	margin-bottom:1px;
}

nav#main li {
	display:block;
	display:inline-block;
}

nav#main a {
	display:inline-block;
	padding:5px 20px;
	background:url(gfx/nav-seperator.png) center left no-repeat;
	text-decoration:none;
	letter-spacing:.1em;
	color:#333;
	text-align:center;
}
nav#main li.home a {
	background-image:none;
}


nav#main li.active a,
nav#main li.active a:hover {
	font-weight:bold;
	color:#61116b;
}

nav#main a:hover {
	color:#000;
	text-decoration:underline;
}

#content {
	position:relative;
	clear:both;	
	padding:0 50px;
	margin-top:20px;
}

#content h1 {
	font-weight:bold;
	font-size:140%;
	margin-bottom:1em;
}

ul.events {
	padding-top:20px;
	padding-left:20px;
}

li.event {
	position:relative;
	padding:0 20px;
}

li.event a.homepage {
	font-size:smaller;
}

.event h1 {
	font-size:larger;
	font-weight:bold;
	margin-bottom:0;
}

.event h1 a {
	text-decoration:none;
}

.event p { padding-left:10px; }

.event aside.when-and-where {
	font-size:small;
}

.event section.desc {
	padding:10px;
}


blockquote {
	position:relative;
	font-size:smaller;
	font-style:italic;
	padding:10px 30px;
	background:url(gfx/blockquote-open.png) 5px 5px no-repeat #eee;
	margin:10px 0;
}

blockquote span.close-quote {
	position:absolute;
	width:28px;
	height:21px;
	right:5px;
	bottom:5px;
	background:url(gfx/blockquote-close.png) center no-repeat;
}

aside.admin-options {
	border:2px solid #f00;
	background:#fdd;
	position:absolute;
	top:0;
	right:0;
	opacity:0.1;
}

aside.admin-options a {
	color:#f00;
	font-weight:bold;
	text-decoration:none;
	padding:3px 7px;
	display:inline-block;

}

aside.admin-options a:hover {
	background:#f99;
	text-decoration:underline;
}

aside.admin-options:hover {
	opacity:1.0;
}


section.executive {
	position:relative;
	clear:both;
	margin-top:60px;
	padding:0 20px;
}

.executive img {
	float:left;
}

.executive p, 
.executive h1,
.executive h2 {
	margin-top:0;
	margin-bottom:20px;
	margin-left:250px;
	padding-left:20px;
}

.executive h2 {
	font-weight:bold;
}

ul.locations li {
	margin-top:40px;
}

ul.records li,
ul.record-holders li {
	position:relative;
}

.records span.name {
	font-weight:bold;
}

p.record-holder-score input {
	width:3em;
}


table.meetings {
	border-collapse:collapse;
}

table.meetings td {
	border:1px solid #ddd;
	padding:3px 5px;
}

.event p {
	margin-top:10px;
	margin-bottom:10px;
}

.event ul {
	margin-left:10px;
}

.event li {
	list-style-type:disc;
}

aside#meetings {
	float:right;
	margin:0 0 30px 30px;
	width:210px;
	background:#fff;
	padding:20px;
	-moz-box-shadow: 1px 1px 2px #bbb;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}

aside#meetings h1 {
	font-size:110%;
	font-weight:bold;
	text-align:center;
	margin:0;
}

aside#meetings h3 {
	font-size:100%;
	text-align:center;
	margin:0 0 20px;
}


aside#meetings table {
	width:100%;
}

aside#meetings tr.even td,
aside#meetings tr.even th {
	background:#eee;
}

aside#meetings td,
aside#meetings th {
	padding:2px 5px;
	border:1px solid #ddd;
	font-size:smaller;
}

aside#meetings td {
	border-left:none;
}
aside#meetings th {
	text-align:right;
	font-weight:bold;
	border-right:none;
}

