<h1>Contact</h1>

<p>
	Please don't hesitate to contact the club with any questions you might
	have. We can be reached in a number of ways:
</p>

<ul>
	<li>
		<h2>Email</h2>

		<p><a href="mailto:uwojugglingclub@hotmail.com" >uwojugglingclub@hotmail.com</a></p>
	</li>

	<li>
		<h2>Facebook</h2>
		<p>Feel free to join the
		<a href="http://www.facebook.com/group.php?gid=2536821735"
			>Western Juggling Club</a> Facebook group</p>

	</li>

	<li>
		<h2>In Person</h2> <p>By coming to one of our <a href="meetings.php">meetings</a>.</p>
	</li>

</ul>

<br />

Additionally, the site administrator can be reached at <a href="mailto:meagar@gmail.com">meagar@gmail.com</a>

