<h1>Links</h1>

<h2>Organizations / Clubs / Festivals</h2>
<ul>
	<li><a href="http://www.juggle.org/">International Jugglers' Association</a></li>
	<li><a href="http://kingstonjugglers.org/">Queen's / Kingston Juggling Club</a></li>
	<li><a href="http://www.thewjf.com">World Juggling Federation</a></li></li>
	<li><a href="http://www.jugglebum.com/torontoclub.html">Toronto Juggling Club</a></li>
	<li><a href="http://www.rso.cornell.edu/cjc">Cornell University Juggling Club</a></li>
	<li><a href="http://juggling.uwaterloo.ca/festival.html">Waterloo Juggling Festival</a></li>
	<li><a href="http://www.uvss.uvic.ca/clubs/juggling/">Victoria Juggling Club</a></li>
	<li><a href="http://www.rit.edu/sg/jugglingclub/jugglein/">RIT Spring Juggle - In</a></li>
	<li><a href="http://www.jaq.qc.ca">Quebec Juggling Association</a></li>
	<li><a href="http://www.jugglenyc.com/">New York City Jugglers - Carmine Street Irregulars</a></li>
</ul>

<h2>Equipment vendors / Manufacturers</h2>
<ul>
	<li><a href="http://www.higginsbrothers.com/">Higgins Brothers Juggling Equipment</a></li>
	<li><a href="http://www.inthespinjuggling.com/">In the Spin Juggling Equipment</a></li>
	<li><a href="http://www.renegadejuggling.com/">Renegade Juggling Equipment</a></li>
	<li><a href="http://www.dube.com/">Brian Dube Juggling Equipment</a></li>
	<li><a href="http://www.goudurix.com/">Goudurix</a></li>
	<li><a href="http://www.toddsmith.com/">Todd Smith Juggling Equipment</a></li>
	<li><a href="http://www.globall.com/">Aerotech Projects Ltd. - Makers of Globalls</a></li>
	<li><a href="http://www.seriousjuggling.com/">Serious Juggling</a></li>
</ul>

<h2>Juggling Topic Sites / Forums / Performers</h2>
<ul>
	<li><a href="http://diabolo.ca/">Diabolo.ca forum and videos</a></li>
	<li><a href="http://www.jugglingdb.com/">Internet Juggling Database</a></li>
	<li><a href="http://www.hogonopro.com/%7Eryo/">Ryo Yabe's Webpage</a></li>
	<li><a href="http://www.artofdiabolo.com/">Mad French Posse Diabolo site</a></li>
	<li><a href="http://www.juggling.org/">Juggling Information Service</a></li>
	<li><a href="http://www.anthonygatto.com/">Anthony Gatto - World's Greatest Juggler</a></li>
	<li><a href="http://www.festivalvideos.com/">Alan Plotkins Juggling Videos</a></li>
	<li><a href="http://www.jasongarfield.com/">Jason Garfield</a></li>
	<li><a href="http://www.galchenko.com/">Vova &amp; Olga Galchenko</a></li>
	<li><a href="http://www.lukeburrage.com/">Luke Burrage</a></li>
	<li><a href="http://www.viktorkee.com/">Viktor Kee</a></li>
	<li><a href="http://scweb.esuhsd.org/programs/jugglesensei/">Matt Hall</a></li>
</ul>

<h2>Siteswap links</h2>
<ul>
	<li><a href="http://en.wikipedia.org/wiki/Siteswap">Siteswap on Wikipedia</a></li>
	<li><a href="http://www.siteswap.org/">Siteswap.org - A great collection of siteswap resources</a></li>
	<li><a href="http://scweb.esuhsd.org/programs/jugglesensei/SiteswapFun1.htm">Matt Hall's Siteswap list</a></li>
	<li><a href="http://dev.meagar.net/misc/siteswaps.pdf">Matt Hall's Siteswap list (printable)</a></li>
	<li><a href="http://jugglinglab.sourceforge.net/">Juggling Lab - A cross-platform siteswap animator/generator written in Java</a></li>
</ul>

